*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    background:#eee;
}
/* ------------------------ */

.swiper-container{
    width:500px;
    height:100%;
}
/* .swiper-wrapper{
    padding-left: 70px;
} */
/* .content{
    width:500px;
    height:100%;
    margin:auto;
} */
/* =---------------------------- */
.main{
    width:500px;
    height:100%;
}
.content{
    width:500px;
    margin:0 auto;
}
.header{
    height:40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.banner{
    width:500px;
    height:300px;
}
.banner img{
    display: inline-block;
    width:500px;
    height:300px;
}
.size_f{
    width:500px;
    height:120px;
}
.size_f .head_t{
    height:50px;
    line-height: 50px;
}
.size_f h2{
    font-size: 20px;
    color:#000;
    text-align: center;
}
.size_f .head_b{
    font-size: 14px;
    color:#000;
}
.footer{
    height:200px;
    display: flex;
    justify-content: space-between;
}
.footer .footer_l{
    width:100px;
    height:100px;
}
.footer .footer_l img{
    display:inline-block;
    width:100px;
    height:100px;
}
.footer .footer_c img{
    display:inline-block;
    width:100px;
    height:100px;
}
.footer .footer_r img{
    display:inline-block;
    width:100px;
    height:100px;
}